[submodule "submarines"]
	path = submarines
	url = https://github.com/cameronmcnz/submarines.git
[submodule "ETL600"]
	path = ETL600
	url = https://github.com/srinivasaraow/ETL600
[submodule "August/ETL600"]
	path = August/ETL600
	url = https://github.com/srinivasaraow/ETL600
